<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/michaelkunkel/Library/Application Support/Wondershare Filmora/Captions/Titles/16_9/Opener 4.mp4</key>
	<string>/Users/michaelkunkel/Library/Application Support/Wondershare Filmora/Captions/Titles/16_9/Opener 4.mp4</string>
	<key>/Users/michaelkunkel/WORK/GIT_HUB/DCDataBaseWithSpark/images/Using DCFaultFinder with Data.mov</key>
	<string>/Users/michaelkunkel/WORK/GIT_HUB/DCDataBaseWithSpark/images/Using DCFaultFinder with Data.mov</string>
</dict>
</plist>
